@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #212121;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  .chatbot .chat-input textarea {
    color: #757575;
}
}
